body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    color:rgb(5, 41, 5);
}
h1{
    font-size: 200%;
}
.main{
    padding: 5%;
    margin: 0% 15%;
    text-align: center;
}
.fs1, .fs2{
    border-color: rgb(186, 226, 107);
    background: rgb(244, 244, 211);
}
.table1, .table2{
    display: flex;
    justify-content: center;
    padding: 5%;
}
th{
    padding-bottom: 5%;
    font-size: 130%;
}

/* boton input file*/
.input_file{
    position: relative;
    background: white;
    box-shadow: 3px 3px 5px -1px rgb(5, 41, 5);
    font-size: 85%;
    padding: 1% 0%;
    margin-bottom: 5%;
}
div .input_file p{
    position: absolute;
}
.subir_archivo{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
/* fin boton input file */
.seleccion{
    border: none;
    padding: 2%;
    color: rgb(5, 41, 5);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    box-shadow: 3px 3px 5px -1px rgb(5, 41, 5);
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 5%;
}
.boton_enviar{
    border: none;
    border-radius: 0;
    background-color: rgb(117, 138, 79);
    padding: 2% 5%;
    color: white;
    margin: auto;
    margin-top: 5%;
}
textarea, #nombre, #email{
    border: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    box-shadow: 3px 3px 5px -1px rgb(5, 41, 5);
    margin-bottom: 5%;
}

@media screen and (max-width: 800px){
    .main{
        font-size: 90%;
    }
    td{
        display:flex;
    }
    .input_file{
        padding: 0% 2%;
    }
    .table2 label{
        margin: 5%;
    }
    .table2 th{
        margin: 5%;
    }
    textarea{
        width: 100%;
    }
}
