/* NAVEGADOR */
header{
    background: linear-gradient(to left, rgb(186, 226, 107) 10%, white);
    display: flex;
    align-items: center;
    position: relative;
}
#logohead{
    display: flex;
    width: 20%;
    height: 5%;
}
.checkbox, .icons{
    opacity: 0;
    visibility: hidden;
    width: 20px;
}
@media screen and (max-width: 650px){
    #logohead{
        width: 35%;
        height: 10%;
    }
    .divnav{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 20%;
        transition: 0.3s;
    }
    .checkbox{
        opacity: 0;
        visibility: visible;
        margin-left: 90%;
        position: absolute;
        width: 5%;
        cursor: pointer;
    }
    .icons{
        opacity: 1;
        visibility: visible;
        margin-left: 90%;
        position: absolute;
        width: 5%;
    }
    .icons{
        pointer-events: none;
    }
    .checkbox:checked ~ .divnav{
        opacity: 1;
        visibility: visible;
    }
    .icons.close{
        display: none;
    }
    .checkbox:checked ~ .icons.open{
        display: none;
    }
    .checkbox:checked ~ .icons.close{
        display: block;
    }
    .nav{
        margin-top: 6%;
        position: absolute;
        right: 0;
        background-color: rgb(186, 226, 107);
        padding: 0% 10%;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        width: 100%;
        font-size: 120%;
        margin: 10% 0%;
    }
    nav ul li:hover{
        background-color: rgb(117, 138, 79);
    }
    nav ul li a:hover {
        color: white;
    }
    nav ul li a{
        margin: 50% 0%;
    }
}
#divnav{
    margin: auto;
    padding: 0;
    width: 80%;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: flex-end;
}
nav ul li{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    padding: 1% 2%;
    text-decoration: none;
    transition: 0.2s;
}
nav ul li:hover{
    background-color: rgb(117, 138, 79);
}
nav ul li a:hover {
    color: white;
}
nav ul li a{
    text-decoration: none;
    color:rgb(5, 41, 5);
    font-size: 110%;
}
/* FIN NAVEGADOR */